<?xml version="1.0"?>
<launch>
 
   <!-- Start gazebo with robot -->
   <include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
    <arg name="config" value="front_laser"/>
    <arg name="gui" value="false"/> 
    <arg name="headless" value="true" />
  </include>

  <!-- Start odom-only nav stack -->
  <include file="$(find jackal_navigation)/launch/odom_navigation_demo.launch" > 

  <!-- rosbridge (not needed for now since we are transmitting only over ROS-->
  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
    <arg name="port" default="9090" />
    <arg name="address" default="localhost" />
    <arg name="ssl" default="false" />
    <arg name="certfile" default=""/>
    <arg name="keyfile" default="" />

    <arg name="retry_startup_delay" default="5" />

    <arg name="fragment_timeout" default="600" />
    <arg name="delay_between_messages" default="0" />
    <arg name="max_message_size" default="None" />
    <arg name="unregister_timeout" default="10" />

    <arg name="authenticate" default="false" />

    <arg name="topics_glob" default="[*]" />
    <arg name="services_glob" default="[*]" />
    <arg name="params_glob" default="[*]" />
    <arg name="bson_only_mode" default="false" />
  </include>


  <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" output="screen" />
-->
  


</launch>

