<?xml version="1.0"?>
<launch>

  <include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
    <arg name="config" value="front_laser"/>
    <arg name="gui" value="false"/> 
    <arg name="headless" value="true" />
  </include>

  <include file="$(find robot_gazebo_install)/launch/rostful.launch">
    <arg name="topics" value="['/odometry/filtered', '/cmd_vel']" />
    <arg name="services" value="[]" />
  </include>

</launch>
