<?xml version="1.0"?>
<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="url" default="127.0.0.1:8080"/>
  
  <!-- rostful dev client -->
  <node pkg="rostful" name="rostfulclient" type="client" args="--allow-subscription --publish-interval 10 --binary $(arg url)" output="screen">
    <!--<param name="enable_cache" value="$(arg enable_cache)" type="bool" />

    <remap from="~connections_list" to="$(arg connection_cache_list)"/>
    <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>-->
  </node>

</launch>


