<?xml version="1.0"?>
<launch>

  <include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
    <arg name="config" value="front_laser"/>
    <arg name="gui" value="false"/> 
    <arg name="headless" value="true" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8080"/>
  </include>

</launch>
